#container {
  width: 500px;
  margin: auto !important;
  display: block;
  height: 500px;
  position: relative;
  list-style-type: none;

}

.likes-display {
 font-family: 'Permanent Marker',cursive;
 
}
.interestPic {
  height:300px;
  width:360px;
}

.caption {
  font-size:24px;
  font-weight: bold;
}

#adoptPetBackground {
  background-image: url("https://images.unsplash.com/photo-1515549832467-8783363e19b6?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6d90809d92f0fff3219b075d0a119ee4&auto=format&fit=crop&w=800&q=60");
}

#userProfileBackground {
  background-image: url("https://images.unsplash.com/photo-1515549832467-8783363e19b6?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6d90809d92f0fff3219b075d0a119ee4&auto=format&fit=crop&w=800&q=60");

}

 #addBackground {
   background-image: url("https://images.unsplash.com/photo-1515549832467-8783363e19b6?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6d90809d92f0fff3219b075d0a119ee4&auto=format&fit=crop&w=800&q=60");
 }
#add-body-img {
 /* background-image: url("https://images.unsplash.com/photo-1523863175542-e3a58c535ef6?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=98ace66c2cbf87ea9ab783f92d48019d&auto=format&fit=crop&w=700&q=60"); */
 background-size: cover;
 /* background-repeat: no-repeat; */
 /* background-position: 53% 0; */
}

#polaroidFrame {
   background-image: url("./assets/picture-frame.png");
}